body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16899 {
  position:absolute;
  left:206px;
  top:22px;
  width:104px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16900 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u16901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16902 {
  position:absolute;
  left:81px;
  top:454px;
  width:214px;
  height:16px;
  font-size:13px;
}
#u16903 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  visibility:hidden;
  white-space:nowrap;
}
#u16904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16904 {
  position:absolute;
  left:282px;
  top:379px;
  width:175px;
  height:16px;
  font-size:13px;
}
#u16905 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16906 {
  position:absolute;
  left:179px;
  top:379px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u16907 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16908 {
  position:absolute;
  left:179px;
  top:430px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u16909 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u16910 {
  position:absolute;
  left:179px;
  top:192px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u16911 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u16912 {
  position:absolute;
  left:295px;
  top:191px;
  width:153px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u16913 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u16914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16914 {
  position:absolute;
  left:282px;
  top:309px;
  width:175px;
  height:16px;
  font-size:13px;
}
#u16915 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16916 {
  position:absolute;
  left:179px;
  top:309px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u16917 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16918 {
  position:absolute;
  left:179px;
  top:355px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u16919 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16920_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:41px;
  height:59px;
}
#u16920p000 {
  position:absolute;
  left:-19px;
  top:18px;
  width:39px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16920p000_img {
  position:absolute;
  left:-30px;
  top:-11px;
  width:79px;
  height:23px;
}
#u16920p001 {
  position:absolute;
  left:-21px;
  top:-15px;
  width:42px;
  height:42px;
}
#u16920p001_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:82px;
  height:63px;
}
#u16920p002 {
  position:absolute;
  left:0px;
  top:37px;
  width:1px;
  height:2px;
}
#u16920p002_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:41px;
  height:23px;
}
#u16920.compound {
  width:0px;
  height:0px;
}
#u16920 {
  position:absolute;
  left:106px;
  top:329px;
  width:1px;
  height:38px;
}
#u16921 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16922 {
  position:absolute;
  left:179px;
  top:403px;
  width:183px;
  height:16px;
  font-size:13px;
}
#u16923 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u16924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16924 {
  position:absolute;
  left:179px;
  top:333px;
  width:157px;
  height:16px;
  font-size:13px;
}
#u16925 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u16926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16926 {
  position:absolute;
  left:57px;
  top:367px;
  width:100px;
  height:37px;
}
#u16927 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16928 {
  position:absolute;
  left:57px;
  top:288px;
  width:100px;
  height:37px;
}
#u16929 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16930 {
  position:absolute;
  left:57px;
  top:182px;
  width:100px;
  height:37px;
}
#u16931 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16932 {
  position:absolute;
  left:107px;
  top:288px;
  width:0px;
  height:0px;
}
#u16932_seg0 {
  position:absolute;
  left:-4px;
  top:-69px;
  width:8px;
  height:73px;
}
#u16932_seg1 {
  position:absolute;
  left:-10px;
  top:-76px;
  width:20px;
  height:20px;
}
#u16933 {
  position:absolute;
  left:-50px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16934 {
  position:absolute;
  left:68px;
  top:77px;
  width:96px;
  height:16px;
  font-size:13px;
}
#u16935 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u16936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16936 {
  position:absolute;
  left:68px;
  top:113px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u16937 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16938 {
  position:absolute;
  left:263px;
  top:78px;
  width:161px;
  height:16px;
  font-size:13px;
}
#u16939 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16940 {
  position:absolute;
  left:68px;
  top:148px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16941 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u16942 {
  position:absolute;
  left:68px;
  top:60px;
  width:535px;
  height:1px;
}
#u16943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u16944 {
  position:absolute;
  left:310px;
  top:8px;
  width:307px;
  height:48px;
  color:#CC0099;
}
#u16945 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u16946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u16946 {
  position:absolute;
  left:169px;
  top:165px;
  width:463px;
  height:16px;
  color:#CC0099;
}
#u16947 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u16948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u16948 {
  position:absolute;
  left:568px;
  top:31px;
  width:35px;
  height:28px;
}
#u16949 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u16950 {
  position:absolute;
  left:613px;
  top:37px;
  width:121px;
  height:16px;
  color:#CC0099;
}
#u16951 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16952 {
  position:absolute;
  left:1237px;
  top:385px;
  width:175px;
  height:16px;
  font-size:13px;
}
#u16953 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16954 {
  position:absolute;
  left:1134px;
  top:385px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u16955 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16956 {
  position:absolute;
  left:1134px;
  top:436px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u16957 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u16958 {
  position:absolute;
  left:1134px;
  top:208px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u16959 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u16960 {
  position:absolute;
  left:1250px;
  top:207px;
  width:153px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u16961 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u16962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16962 {
  position:absolute;
  left:1237px;
  top:315px;
  width:175px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16963 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16964 {
  position:absolute;
  left:1134px;
  top:315px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16965 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16966 {
  position:absolute;
  left:1134px;
  top:361px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16967 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u16968 {
  position:absolute;
  left:1134px;
  top:409px;
  width:183px;
  height:16px;
  font-size:13px;
}
#u16969 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u16970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16970 {
  position:absolute;
  left:1134px;
  top:339px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16971 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u16972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16972 {
  position:absolute;
  left:727px;
  top:311px;
  width:175px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16973 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u16974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16974 {
  position:absolute;
  left:624px;
  top:311px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16975 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16976 {
  position:absolute;
  left:624px;
  top:357px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16977 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16978 {
  position:absolute;
  left:624px;
  top:335px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u16979 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u16980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16980 {
  position:absolute;
  left:624px;
  top:127px;
  width:545px;
  height:37px;
}
#u16981 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  white-space:nowrap;
}
#u16982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16982 {
  position:absolute;
  left:960px;
  top:415px;
  width:100px;
  height:37px;
}
#u16983 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16984 {
  position:absolute;
  left:902px;
  top:311px;
  width:100px;
  height:37px;
}
#u16985 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16986 {
  position:absolute;
  left:1024px;
  top:311px;
  width:100px;
  height:37px;
}
#u16987 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16988 {
  position:absolute;
  left:960px;
  top:207px;
  width:100px;
  height:37px;
}
#u16989 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u16990 {
  position:absolute;
  left:952px;
  top:311px;
  width:0px;
  height:0px;
}
#u16990_seg0 {
  position:absolute;
  left:-4px;
  top:-55px;
  width:8px;
  height:55px;
}
#u16990_seg1 {
  position:absolute;
  left:-4px;
  top:-55px;
  width:66px;
  height:8px;
}
#u16990_seg2 {
  position:absolute;
  left:54px;
  top:-67px;
  width:8px;
  height:20px;
}
#u16990_seg3 {
  position:absolute;
  left:48px;
  top:-74px;
  width:20px;
  height:20px;
}
#u16991 {
  position:absolute;
  left:-38px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16992 {
  position:absolute;
  left:1074px;
  top:311px;
  width:0px;
  height:0px;
}
#u16992_seg0 {
  position:absolute;
  left:-4px;
  top:-55px;
  width:8px;
  height:55px;
}
#u16992_seg1 {
  position:absolute;
  left:-68px;
  top:-55px;
  width:72px;
  height:8px;
}
#u16992_seg2 {
  position:absolute;
  left:-68px;
  top:-67px;
  width:8px;
  height:20px;
}
#u16992_seg3 {
  position:absolute;
  left:-74px;
  top:-74px;
  width:20px;
  height:20px;
}
#u16993 {
  position:absolute;
  left:-64px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16994 {
  position:absolute;
  left:1010px;
  top:415px;
  width:0px;
  height:0px;
}
#u16994_seg0 {
  position:absolute;
  left:-4px;
  top:-59px;
  width:8px;
  height:59px;
}
#u16994_seg1 {
  position:absolute;
  left:-62px;
  top:-59px;
  width:66px;
  height:8px;
}
#u16994_seg2 {
  position:absolute;
  left:-62px;
  top:-67px;
  width:8px;
  height:16px;
}
#u16994_seg3 {
  position:absolute;
  left:-68px;
  top:-74px;
  width:20px;
  height:20px;
}
#u16995 {
  position:absolute;
  left:-58px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16996 {
  position:absolute;
  left:1010px;
  top:415px;
  width:0px;
  height:0px;
}
#u16996_seg0 {
  position:absolute;
  left:-4px;
  top:-59px;
  width:8px;
  height:59px;
}
#u16996_seg1 {
  position:absolute;
  left:-4px;
  top:-59px;
  width:72px;
  height:8px;
}
#u16996_seg2 {
  position:absolute;
  left:60px;
  top:-67px;
  width:8px;
  height:16px;
}
#u16996_seg3 {
  position:absolute;
  left:54px;
  top:-74px;
  width:20px;
  height:20px;
}
#u16997 {
  position:absolute;
  left:-40px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
