body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:310px;
}
#u35403 {
  position:absolute;
  left:12px;
  top:51px;
  width:1441px;
  height:310px;
}
#u35404 {
  position:absolute;
  left:2px;
  top:147px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35405 {
  position:absolute;
  left:12px;
  top:371px;
  width:767px;
  height:16px;
}
#u35406 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
