body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10830 {
  position:absolute;
  left:354px;
  top:134px;
  width:123px;
  height:16px;
}
#u10831 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u10832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:2px;
}
#u10832 {
  position:absolute;
  left:354px;
  top:156px;
  width:827px;
  height:1px;
}
#u10833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:823px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u10834 {
  position:absolute;
  left:1145px;
  top:128px;
  width:35px;
  height:28px;
}
#u10835 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u10836 {
  position:absolute;
  left:495px;
  top:128px;
  width:81px;
  height:16px;
  color:#CC0099;
}
#u10837 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10838 {
  position:absolute;
  left:348px;
  top:195px;
  width:888px;
  height:95px;
}
#u10839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u10839 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u10840 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u10841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u10841 {
  position:absolute;
  left:164px;
  top:0px;
  width:112px;
  height:30px;
}
#u10842 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u10843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u10843 {
  position:absolute;
  left:276px;
  top:0px;
  width:126px;
  height:30px;
}
#u10844 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u10845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u10845 {
  position:absolute;
  left:402px;
  top:0px;
  width:88px;
  height:30px;
}
#u10846 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u10847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u10847 {
  position:absolute;
  left:490px;
  top:0px;
  width:114px;
  height:30px;
}
#u10848 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u10849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u10849 {
  position:absolute;
  left:604px;
  top:0px;
  width:141px;
  height:30px;
}
#u10850 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u10851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u10851 {
  position:absolute;
  left:745px;
  top:0px;
  width:138px;
  height:30px;
}
#u10852 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u10853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u10853 {
  position:absolute;
  left:0px;
  top:30px;
  width:164px;
  height:30px;
}
#u10854 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u10855 {
  position:absolute;
  left:164px;
  top:30px;
  width:112px;
  height:30px;
}
#u10856 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u10857 {
  position:absolute;
  left:276px;
  top:30px;
  width:126px;
  height:30px;
}
#u10858 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u10859 {
  position:absolute;
  left:402px;
  top:30px;
  width:88px;
  height:30px;
}
#u10860 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u10861 {
  position:absolute;
  left:490px;
  top:30px;
  width:114px;
  height:30px;
}
#u10862 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u10863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u10863 {
  position:absolute;
  left:604px;
  top:30px;
  width:141px;
  height:30px;
}
#u10864 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u10865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u10865 {
  position:absolute;
  left:745px;
  top:30px;
  width:138px;
  height:30px;
}
#u10866 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u10867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u10867 {
  position:absolute;
  left:0px;
  top:60px;
  width:164px;
  height:30px;
}
#u10868 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u10869 {
  position:absolute;
  left:164px;
  top:60px;
  width:112px;
  height:30px;
}
#u10870 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u10871 {
  position:absolute;
  left:276px;
  top:60px;
  width:126px;
  height:30px;
}
#u10872 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u10873 {
  position:absolute;
  left:402px;
  top:60px;
  width:88px;
  height:30px;
}
#u10874 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u10875 {
  position:absolute;
  left:490px;
  top:60px;
  width:114px;
  height:30px;
}
#u10876 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u10877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u10877 {
  position:absolute;
  left:604px;
  top:60px;
  width:141px;
  height:30px;
}
#u10878 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u10879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u10879 {
  position:absolute;
  left:745px;
  top:60px;
  width:138px;
  height:30px;
}
#u10880 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u10881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u10881 {
  position:absolute;
  left:338px;
  top:415px;
  width:311px;
  height:32px;
  color:#CC0099;
}
#u10882 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
