body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38720 {
  position:absolute;
  left:216px;
  top:92px;
  width:66px;
  height:16px;
}
#u38721 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38722 {
  position:absolute;
  left:643px;
  top:88px;
  width:171px;
  height:25px;
}
#u38722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38723 {
  position:absolute;
  left:556px;
  top:92px;
  width:79px;
  height:16px;
}
#u38724 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38725 {
  position:absolute;
  left:930px;
  top:88px;
  width:80px;
  height:25px;
}
#u38725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38726 {
  position:absolute;
  left:216px;
  top:150px;
  width:743px;
  height:95px;
}
#u38727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38727 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38728 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u38729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38729 {
  position:absolute;
  left:350px;
  top:0px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38730 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u38731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38731 {
  position:absolute;
  left:692px;
  top:0px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38732 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38733 {
  position:absolute;
  left:0px;
  top:30px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38734 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u38735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38735 {
  position:absolute;
  left:350px;
  top:30px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38736 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38737 {
  position:absolute;
  left:692px;
  top:30px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38738 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38739 {
  position:absolute;
  left:0px;
  top:60px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38740 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u38741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38741 {
  position:absolute;
  left:350px;
  top:60px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38742 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u38743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38743 {
  position:absolute;
  left:692px;
  top:60px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38744 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38745 {
  position:absolute;
  left:920px;
  top:187px;
  width:20px;
  height:16px;
}
#u38746 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38745_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38747 {
  position:absolute;
  left:920px;
  top:160px;
  width:30px;
  height:16px;
}
#u38748 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38747_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38749 {
  position:absolute;
  left:920px;
  top:218px;
  width:20px;
  height:16px;
}
#u38750 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38749_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38751 {
  position:absolute;
  left:216px;
  top:491px;
  width:53px;
  height:16px;
}
#u38752 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38753 {
  position:absolute;
  left:269px;
  top:488px;
  width:37px;
  height:22px;
}
#u38753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38753_input:disabled {
  color:grayText;
}
#u38754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38754 {
  position:absolute;
  left:306px;
  top:491px;
  width:84px;
  height:16px;
}
#u38755 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:26px;
}
#u38756 {
  position:absolute;
  left:728px;
  top:484px;
  width:282px;
  height:26px;
}
#u38757 {
  position:absolute;
  left:2px;
  top:5px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38758 {
  position:absolute;
  left:285px;
  top:88px;
  width:191px;
  height:25px;
}
#u38758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38759 {
  position:absolute;
  left:1000px;
  top:164px;
  width:200px;
  height:216px;
  color:#CC0099;
}
#u38760 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
