body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7962 {
  position:absolute;
  left:556px;
  top:192px;
  width:300px;
  height:170px;
}
#u7963 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  word-wrap:break-word;
}
#u7964 {
  position:absolute;
  left:580px;
  top:323px;
  width:65px;
  height:25px;
}
#u7964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7965 {
  position:absolute;
  left:561px;
  top:199px;
  width:127px;
  height:16px;
}
#u7966 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7967 {
  position:absolute;
  left:731px;
  top:323px;
  width:65px;
  height:25px;
}
#u7967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u7968 {
  position:absolute;
  left:556px;
  top:225px;
  width:300px;
  height:1px;
}
#u7969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u7970 {
  position:absolute;
  left:820px;
  top:197px;
  width:35px;
  height:28px;
}
#u7971 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u7972 {
  position:absolute;
  left:580px;
  top:422px;
  width:169px;
  height:16px;
  color:#CC0099;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u7975 {
  position:absolute;
  left:40px;
  top:21px;
  width:178px;
  height:33px;
  font-size:28px;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:2px;
}
#u7977 {
  position:absolute;
  left:11px;
  top:64px;
  width:1490px;
  height:1px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:890px;
}
#u7979 {
  position:absolute;
  left:167px;
  top:65px;
  width:1px;
  height:889px;
}
#u7980 {
  position:absolute;
  left:2px;
  top:436px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7981 {
  position:absolute;
  left:1269px;
  top:30px;
  width:52px;
  height:15px;
  font-size:12px;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u7983 {
  position:absolute;
  left:1349px;
  top:30px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u7984 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7985 {
  position:absolute;
  left:10px;
  top:81px;
  width:144px;
  height:525px;
}
#u7985_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7986 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7987 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7988 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u7989 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7990 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7990_img.selected {
}
#u7990.selected {
}
#u7991 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7992 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7993 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u7989_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7994 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7995 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u7996 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u7997 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7998 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u7999 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8000 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8001 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u8002 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u8003 {
  position:absolute;
  left:20px;
  top:80px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8004 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u8005 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u8006 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8007 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8007_img.selected {
}
#u8007.selected {
}
#u8008 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8009 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8010 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8006_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8011 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8012 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8013 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8014 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8015 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8016 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8017 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8018 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8018_img.selected {
}
#u8018.selected {
}
#u8019 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8020 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8021 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8017_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8022 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8023 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8024 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8025 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8026 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8027 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8028 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8029 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8029_img.selected {
}
#u8029.selected {
}
#u8030 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8031 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8032 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8028_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8033 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8034 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u8035 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8036 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8037 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u8038 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8039 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8040 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8040_img.selected {
}
#u8040.selected {
}
#u8041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8042 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8043 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8039_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8044 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8045 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8046 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8047 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8048 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8049 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8050 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8051 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8052 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8053 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8054 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8055 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8056 {
  position:absolute;
  left:20px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8057 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8058 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8059 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8060 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8061 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8062 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8063 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8063_img.selected {
}
#u8063.selected {
}
#u8064 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8065 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8066 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8062_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8067 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8068 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8069 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8070 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8071 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u8072 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u8073 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8074 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u8075 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u8076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8076 {
  position:absolute;
  left:568px;
  top:13px;
  width:538px;
  height:51px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:18px;
  width:534px;
  visibility:hidden;
  white-space:nowrap;
}
#u8078 {
  position:absolute;
  left:570px;
  top:13px;
  width:200px;
  height:25px;
}
#u8078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:778px;
  top:11px;
  width:51px;
  height:32px;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u8081 {
  position:absolute;
  left:568px;
  top:39px;
  width:60px;
  height:25px;
}
#u8081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8082 {
  position:absolute;
  left:658px;
  top:39px;
  width:60px;
  height:25px;
}
#u8082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8083 {
  position:absolute;
  left:748px;
  top:39px;
  width:60px;
  height:25px;
}
#u8083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8084 {
  position:absolute;
  left:838px;
  top:39px;
  width:60px;
  height:25px;
}
#u8084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8085 {
  position:absolute;
  left:938px;
  top:39px;
  width:60px;
  height:25px;
}
#u8085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8086 {
  position:absolute;
  left:1028px;
  top:39px;
  width:60px;
  height:25px;
}
#u8086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8087 {
  position:absolute;
  left:878px;
  top:19px;
  width:60px;
  height:16px;
  color:#000000;
}
#u8088 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u8087_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8089 {
  position:absolute;
  left:968px;
  top:19px;
  width:70px;
  height:16px;
  color:#000000;
}
#u8090 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8089_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8091 {
  position:absolute;
  left:1058px;
  top:19px;
  width:48px;
  height:16px;
  color:#000000;
}
#u8092 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u8091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8093 {
  position:absolute;
  left:1118px;
  top:32px;
  width:141px;
  height:22px;
}
#u8093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8093_input:disabled {
  color:grayText;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00CC;
}
#u8094 {
  position:absolute;
  left:1116px;
  top:14px;
  width:684px;
  height:16px;
  color:#FF00CC;
}
#u8095 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u8096 {
  position:absolute;
  left:1392px;
  top:30px;
  width:392px;
  height:48px;
  color:#CC0099;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u8098 {
  position:absolute;
  left:218px;
  top:38px;
  width:296px;
  height:16px;
  font-size:14px;
  color:#CC0099;
}
#u8099 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u8100 {
  position:absolute;
  left:607px;
  top:11px;
  width:141px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
