body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38761 {
  position:absolute;
  left:216px;
  top:92px;
  width:66px;
  height:16px;
}
#u38762 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38763 {
  position:absolute;
  left:866px;
  top:88px;
  width:80px;
  height:25px;
}
#u38763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38764 {
  position:absolute;
  left:216px;
  top:150px;
  width:743px;
  height:95px;
}
#u38765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38765 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38766 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u38767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38767 {
  position:absolute;
  left:350px;
  top:0px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38768 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u38769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38769 {
  position:absolute;
  left:692px;
  top:0px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38770 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38771 {
  position:absolute;
  left:0px;
  top:30px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38772 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38773 {
  position:absolute;
  left:350px;
  top:30px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38774 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u38775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38775 {
  position:absolute;
  left:692px;
  top:30px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38776 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u38777 {
  position:absolute;
  left:0px;
  top:60px;
  width:350px;
  height:30px;
  text-align:center;
}
#u38778 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:30px;
}
#u38779 {
  position:absolute;
  left:350px;
  top:60px;
  width:342px;
  height:30px;
  text-align:center;
}
#u38780 {
  position:absolute;
  left:2px;
  top:7px;
  width:338px;
  word-wrap:break-word;
}
#u38781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u38781 {
  position:absolute;
  left:692px;
  top:60px;
  width:46px;
  height:30px;
  text-align:center;
}
#u38782 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38783 {
  position:absolute;
  left:920px;
  top:187px;
  width:20px;
  height:16px;
}
#u38784 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38783_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38785 {
  position:absolute;
  left:920px;
  top:218px;
  width:20px;
  height:16px;
}
#u38786 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38785_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38787 {
  position:absolute;
  left:216px;
  top:491px;
  width:53px;
  height:16px;
}
#u38788 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38789 {
  position:absolute;
  left:269px;
  top:488px;
  width:37px;
  height:22px;
}
#u38789_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38789_input:disabled {
  color:grayText;
}
#u38790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38790 {
  position:absolute;
  left:306px;
  top:491px;
  width:84px;
  height:16px;
}
#u38791 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:26px;
}
#u38792 {
  position:absolute;
  left:728px;
  top:484px;
  width:282px;
  height:26px;
}
#u38793 {
  position:absolute;
  left:2px;
  top:5px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38794 {
  position:absolute;
  left:285px;
  top:88px;
  width:191px;
  height:25px;
}
#u38794_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38795 {
  position:absolute;
  left:1000px;
  top:164px;
  width:200px;
  height:216px;
  color:#CC0099;
}
#u38796 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
