body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:416px;
}
#u11604 {
  position:absolute;
  left:302px;
  top:123px;
  width:338px;
  height:416px;
}
#u11605 {
  position:absolute;
  left:2px;
  top:200px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u11606 {
  position:absolute;
  left:432px;
  top:445px;
  width:127px;
  height:16px;
  color:#CC0099;
}
#u11607 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u11608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u11608 {
  position:absolute;
  left:396px;
  top:390px;
  width:85px;
  height:16px;
  color:#CC0099;
}
#u11609 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u11610 {
  position:absolute;
  left:402px;
  top:334px;
  width:57px;
  height:16px;
  color:#CC0099;
}
#u11611 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u11612 {
  position:absolute;
  left:402px;
  top:360px;
  width:113px;
  height:16px;
  color:#CC0099;
}
#u11613 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u11614 {
  position:absolute;
  left:283px;
  top:578px;
  width:827px;
  height:16px;
  color:#CC0099;
}
#u11615 {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  white-space:nowrap;
}
