body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20734 {
  position:absolute;
  left:310px;
  top:120px;
  width:330px;
  height:240px;
}
#u20735 {
  position:absolute;
  left:2px;
  top:112px;
  width:326px;
  word-wrap:break-word;
}
#u20736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20736 {
  position:absolute;
  left:700px;
  top:194px;
  width:560px;
  height:176px;
  color:#CC0099;
}
#u20737 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  white-space:nowrap;
}
#u20738 {
  position:absolute;
  left:369px;
  top:295px;
  width:70px;
  height:25px;
}
#u20738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20739 {
  position:absolute;
  left:510px;
  top:295px;
  width:70px;
  height:25px;
}
#u20739_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20740 {
  position:absolute;
  left:338px;
  top:370px;
  width:292px;
  height:32px;
  color:#CC0099;
}
#u20741 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u20742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u20742 {
  position:absolute;
  left:850px;
  top:223px;
  width:250px;
  height:100px;
  color:#1E1E1E;
}
#u20743 {
  position:absolute;
  left:2px;
  top:42px;
  width:246px;
  word-wrap:break-word;
}
#u20744 {
  position:absolute;
  left:1020px;
  top:295px;
  width:70px;
  height:25px;
}
#u20744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20745 {
  position:absolute;
  left:948px;
  top:330px;
  width:292px;
  height:16px;
  color:#CC0099;
}
#u20746 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u20747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u20747 {
  position:absolute;
  left:310px;
  top:155px;
  width:330px;
  height:1px;
}
#u20748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20749 {
  position:absolute;
  left:318px;
  top:134px;
  width:79px;
  height:16px;
}
#u20750 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u20751 {
  position:absolute;
  left:602px;
  top:123px;
  width:35px;
  height:28px;
}
#u20752 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20753 {
  position:absolute;
  left:184px;
  top:62px;
  width:121px;
  height:28px;
}
#u20754 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u20755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20755 {
  position:absolute;
  left:302px;
  top:470px;
  width:330px;
  height:240px;
}
#u20756 {
  position:absolute;
  left:2px;
  top:112px;
  width:326px;
  word-wrap:break-word;
}
#u20757 {
  position:absolute;
  left:361px;
  top:645px;
  width:70px;
  height:25px;
}
#u20757_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20758 {
  position:absolute;
  left:502px;
  top:645px;
  width:70px;
  height:25px;
}
#u20758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20759 {
  position:absolute;
  left:330px;
  top:720px;
  width:292px;
  height:32px;
  color:#CC0099;
}
#u20760 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u20761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u20761 {
  position:absolute;
  left:302px;
  top:505px;
  width:330px;
  height:1px;
}
#u20762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20763 {
  position:absolute;
  left:310px;
  top:484px;
  width:79px;
  height:16px;
}
#u20764 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u20765 {
  position:absolute;
  left:594px;
  top:473px;
  width:35px;
  height:28px;
}
#u20766 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20767 {
  position:absolute;
  left:176px;
  top:412px;
  width:121px;
  height:28px;
}
#u20768 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u20769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20769 {
  position:absolute;
  left:700px;
  top:454px;
  width:404px;
  height:32px;
  color:#CC0099;
}
#u20770 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u20771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u20771 {
  position:absolute;
  left:240px;
  top:14px;
  width:270px;
  height:16px;
  color:#CC0099;
}
#u20772 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
