body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38025 {
  position:absolute;
  left:192px;
  top:180px;
  width:728px;
  height:310px;
}
#u38026 {
  position:absolute;
  left:2px;
  top:147px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u38027 {
  position:absolute;
  left:192px;
  top:215px;
  width:728px;
  height:1px;
}
#u38028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38029 {
  position:absolute;
  left:200px;
  top:194px;
  width:79px;
  height:16px;
}
#u38030 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u38031 {
  position:absolute;
  left:880px;
  top:182px;
  width:35px;
  height:28px;
}
#u38032 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38033 {
  position:absolute;
  left:222px;
  top:270px;
  width:80px;
  height:25px;
}
#u38033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38034 {
  position:absolute;
  left:312px;
  top:270px;
  width:358px;
  height:25px;
}
#u38034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38035 {
  position:absolute;
  left:222px;
  top:323px;
  width:80px;
  height:25px;
}
#u38035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38036 {
  position:absolute;
  left:322px;
  top:326px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u38037 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38038 {
  position:absolute;
  left:960px;
  top:290px;
  width:186px;
  height:16px;
  color:#CC0099;
}
#u38039 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u38040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38040 {
  position:absolute;
  left:192px;
  top:544px;
  width:534px;
  height:16px;
  color:#CC0099;
}
#u38041 {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  white-space:nowrap;
}
#u38042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38042 {
  position:absolute;
  left:1256px;
  top:90px;
  width:728px;
  height:470px;
}
#u38043 {
  position:absolute;
  left:2px;
  top:227px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u38044 {
  position:absolute;
  left:1256px;
  top:125px;
  width:728px;
  height:1px;
}
#u38045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38046 {
  position:absolute;
  left:1264px;
  top:104px;
  width:53px;
  height:16px;
}
#u38047 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u38048 {
  position:absolute;
  left:1944px;
  top:92px;
  width:35px;
  height:28px;
}
#u38049 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38050 {
  position:absolute;
  left:1274px;
  top:150px;
  width:486px;
  height:16px;
}
#u38051 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  white-space:nowrap;
}
#u38052 {
  position:absolute;
  left:1274px;
  top:222px;
  width:704px;
  height:215px;
}
#u38053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38053 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38054 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u38055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38055 {
  position:absolute;
  left:121px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38056 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u38057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38057 {
  position:absolute;
  left:210px;
  top:0px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38058 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u38059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38059 {
  position:absolute;
  left:352px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38060 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u38061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38061 {
  position:absolute;
  left:467px;
  top:0px;
  width:232px;
  height:30px;
  text-align:center;
}
#u38062 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u38063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38063 {
  position:absolute;
  left:0px;
  top:30px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38064 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38065 {
  position:absolute;
  left:121px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38066 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38067 {
  position:absolute;
  left:210px;
  top:30px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38068 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38069 {
  position:absolute;
  left:352px;
  top:30px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38070 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38071 {
  position:absolute;
  left:467px;
  top:30px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u38072 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u38073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38073 {
  position:absolute;
  left:0px;
  top:60px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38074 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38075 {
  position:absolute;
  left:121px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38076 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38077 {
  position:absolute;
  left:210px;
  top:60px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38078 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38079 {
  position:absolute;
  left:352px;
  top:60px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38080 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38081 {
  position:absolute;
  left:467px;
  top:60px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u38082 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u38083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38083 {
  position:absolute;
  left:0px;
  top:90px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38084 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38085 {
  position:absolute;
  left:121px;
  top:90px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38086 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38087 {
  position:absolute;
  left:210px;
  top:90px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38088 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38089 {
  position:absolute;
  left:352px;
  top:90px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38090 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38091 {
  position:absolute;
  left:467px;
  top:90px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u38092 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u38093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38093 {
  position:absolute;
  left:0px;
  top:120px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38094 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38095 {
  position:absolute;
  left:121px;
  top:120px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38096 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38097 {
  position:absolute;
  left:210px;
  top:120px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38098 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38099 {
  position:absolute;
  left:352px;
  top:120px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38100 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38101 {
  position:absolute;
  left:467px;
  top:120px;
  width:232px;
  height:30px;
  text-align:center;
}
#u38102 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38103 {
  position:absolute;
  left:0px;
  top:150px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38104 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38105 {
  position:absolute;
  left:121px;
  top:150px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38106 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38107 {
  position:absolute;
  left:210px;
  top:150px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38108 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38109 {
  position:absolute;
  left:352px;
  top:150px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38110 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38111 {
  position:absolute;
  left:467px;
  top:150px;
  width:232px;
  height:30px;
  text-align:center;
}
#u38112 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u38113 {
  position:absolute;
  left:0px;
  top:180px;
  width:121px;
  height:30px;
  text-align:center;
}
#u38114 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u38115 {
  position:absolute;
  left:121px;
  top:180px;
  width:89px;
  height:30px;
  text-align:center;
}
#u38116 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u38117 {
  position:absolute;
  left:210px;
  top:180px;
  width:142px;
  height:30px;
  text-align:center;
}
#u38118 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u38119 {
  position:absolute;
  left:352px;
  top:180px;
  width:115px;
  height:30px;
  text-align:center;
}
#u38120 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u38121 {
  position:absolute;
  left:467px;
  top:180px;
  width:232px;
  height:30px;
  text-align:center;
}
#u38122 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u38123 {
  position:absolute;
  left:1274px;
  top:190px;
  width:259px;
  height:16px;
  color:#0099FF;
}
#u38124 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u38125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38125 {
  position:absolute;
  left:2004px;
  top:190px;
  width:456px;
  height:16px;
  color:#CC0099;
}
#u38126 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u38127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38127 {
  position:absolute;
  left:1994px;
  top:150px;
  width:210px;
  height:16px;
  color:#CC0099;
}
#u38128 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u38129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38129 {
  position:absolute;
  left:1245px;
  top:40px;
  width:145px;
  height:28px;
  color:#CC0099;
}
#u38130 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38131 {
  position:absolute;
  left:236px;
  top:237px;
  width:71px;
  height:16px;
}
#u38132 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u38133 {
  position:absolute;
  left:312px;
  top:234px;
  width:200px;
  height:22px;
}
#u38133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38133_input:disabled {
  color:grayText;
}
#u38134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38134 {
  position:absolute;
  left:536px;
  top:234px;
  width:313px;
  height:16px;
  color:#CC0099;
}
#u38135 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u38136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38136 {
  position:absolute;
  left:192px;
  top:584px;
  width:779px;
  height:112px;
  color:#CC0099;
}
#u38137 {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  white-space:nowrap;
}
