body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u31858 {
  position:absolute;
  left:40px;
  top:20px;
  width:178px;
  height:33px;
  font-size:28px;
}
#u31859 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u31860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:2px;
}
#u31860 {
  position:absolute;
  left:11px;
  top:63px;
  width:1490px;
  height:1px;
}
#u31861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:890px;
}
#u31862 {
  position:absolute;
  left:167px;
  top:64px;
  width:1px;
  height:889px;
}
#u31863 {
  position:absolute;
  left:2px;
  top:436px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u31864 {
  position:absolute;
  left:1269px;
  top:29px;
  width:52px;
  height:15px;
  font-size:12px;
}
#u31865 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u31866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u31866 {
  position:absolute;
  left:1349px;
  top:29px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u31867 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u31868 {
  position:absolute;
  left:10px;
  top:80px;
  width:144px;
  height:525px;
}
#u31868_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31869 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31870 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u31871 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u31872 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31873 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31873_img.selected {
}
#u31873.selected {
}
#u31874 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31875 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31876 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31872_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31877 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31878 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u31879 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u31880 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31881 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u31882 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u31883 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31884 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u31885 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u31886 {
  position:absolute;
  left:20px;
  top:80px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31887 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u31888 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u31889 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31890 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31890_img.selected {
}
#u31890.selected {
}
#u31891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31892 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31893 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31889_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31894 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31895 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31896 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31897 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31898 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31899 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31900 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31901 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31901_img.selected {
}
#u31901.selected {
}
#u31902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31903 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31904 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31900_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31905 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31906 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31907 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31908 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31909 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31910 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31911 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31912 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31912_img.selected {
}
#u31912.selected {
}
#u31913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31914 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31915 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31911_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31916 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31917 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u31918 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u31919 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31920 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u31921 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u31922 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31923 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31923_img.selected {
}
#u31923.selected {
}
#u31924 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31925 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31926 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31922_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31927 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31928 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31929 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31930 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31931 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31932 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31933 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31934 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31935 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31936 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31937 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31938 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31939 {
  position:absolute;
  left:20px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31940 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31941 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31942 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31943 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31944 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31945 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31946 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31946_img.selected {
}
#u31946.selected {
}
#u31947 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31948 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31949 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31945_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31950 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31951 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31952 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31953 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31954 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u31955 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u31956 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31957 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u31958 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u31959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31959 {
  position:absolute;
  left:568px;
  top:12px;
  width:538px;
  height:51px;
}
#u31960 {
  position:absolute;
  left:2px;
  top:18px;
  width:534px;
  visibility:hidden;
  white-space:nowrap;
}
#u31961 {
  position:absolute;
  left:570px;
  top:12px;
  width:200px;
  height:25px;
}
#u31961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31962 {
  position:absolute;
  left:778px;
  top:10px;
  width:51px;
  height:32px;
}
#u31963 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u31964 {
  position:absolute;
  left:568px;
  top:38px;
  width:60px;
  height:25px;
}
#u31964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31965 {
  position:absolute;
  left:658px;
  top:38px;
  width:60px;
  height:25px;
}
#u31965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31966 {
  position:absolute;
  left:748px;
  top:38px;
  width:60px;
  height:25px;
}
#u31966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31967 {
  position:absolute;
  left:838px;
  top:38px;
  width:60px;
  height:25px;
}
#u31967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31968 {
  position:absolute;
  left:938px;
  top:38px;
  width:60px;
  height:25px;
}
#u31968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31969 {
  position:absolute;
  left:1028px;
  top:38px;
  width:60px;
  height:25px;
}
#u31969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31970 {
  position:absolute;
  left:878px;
  top:18px;
  width:60px;
  height:16px;
  color:#000000;
}
#u31971 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u31970_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31972 {
  position:absolute;
  left:968px;
  top:18px;
  width:70px;
  height:16px;
  color:#000000;
}
#u31973 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u31972_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31974 {
  position:absolute;
  left:1058px;
  top:18px;
  width:48px;
  height:16px;
  color:#000000;
}
#u31975 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u31974_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31976 {
  position:absolute;
  left:1118px;
  top:31px;
  width:141px;
  height:22px;
}
#u31976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31976_input:disabled {
  color:grayText;
}
#u31977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00CC;
}
#u31977 {
  position:absolute;
  left:1116px;
  top:13px;
  width:684px;
  height:16px;
  color:#FF00CC;
}
#u31978 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u31979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u31979 {
  position:absolute;
  left:1392px;
  top:29px;
  width:392px;
  height:48px;
  color:#CC0099;
}
#u31980 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u31981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u31981 {
  position:absolute;
  left:218px;
  top:37px;
  width:296px;
  height:16px;
  font-size:14px;
  color:#CC0099;
}
#u31982 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u31983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u31983 {
  position:absolute;
  left:607px;
  top:10px;
  width:141px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u31984 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u31985 {
  position:absolute;
  left:197px;
  top:242px;
  width:1109px;
  height:191px;
}
#u31986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u31986 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31987 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u31988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u31988 {
  position:absolute;
  left:59px;
  top:0px;
  width:89px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31989 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u31990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u31990 {
  position:absolute;
  left:148px;
  top:0px;
  width:82px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31991 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u31992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u31992 {
  position:absolute;
  left:230px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31993 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u31994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u31994 {
  position:absolute;
  left:320px;
  top:0px;
  width:76px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31995 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u31996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u31996 {
  position:absolute;
  left:396px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31997 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u31998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u31998 {
  position:absolute;
  left:486px;
  top:0px;
  width:78px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31999 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u32000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u32000 {
  position:absolute;
  left:564px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u32001 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u32002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u32002 {
  position:absolute;
  left:654px;
  top:0px;
  width:118px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u32003 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u32004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u32004 {
  position:absolute;
  left:772px;
  top:0px;
  width:140px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u32005 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u32006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u32006 {
  position:absolute;
  left:912px;
  top:0px;
  width:192px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u32007 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u32008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u32008 {
  position:absolute;
  left:0px;
  top:36px;
  width:59px;
  height:30px;
  text-align:center;
}
#u32009 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u32010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32010 {
  position:absolute;
  left:59px;
  top:36px;
  width:89px;
  height:30px;
  text-align:center;
}
#u32011 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u32012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32012 {
  position:absolute;
  left:148px;
  top:36px;
  width:82px;
  height:30px;
  text-align:center;
}
#u32013 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u32014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32014 {
  position:absolute;
  left:230px;
  top:36px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32015 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u32016 {
  position:absolute;
  left:320px;
  top:36px;
  width:76px;
  height:30px;
  text-align:center;
}
#u32017 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u32018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32018 {
  position:absolute;
  left:396px;
  top:36px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32019 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u32020 {
  position:absolute;
  left:486px;
  top:36px;
  width:78px;
  height:30px;
  text-align:center;
}
#u32021 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32022 {
  position:absolute;
  left:564px;
  top:36px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32023 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u32024 {
  position:absolute;
  left:654px;
  top:36px;
  width:118px;
  height:30px;
  text-align:center;
}
#u32025 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32026 {
  position:absolute;
  left:772px;
  top:36px;
  width:140px;
  height:30px;
  text-align:center;
}
#u32027 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u32028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u32028 {
  position:absolute;
  left:912px;
  top:36px;
  width:192px;
  height:30px;
  text-align:center;
}
#u32029 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u32030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u32030 {
  position:absolute;
  left:0px;
  top:66px;
  width:59px;
  height:30px;
  text-align:center;
}
#u32031 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u32032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32032 {
  position:absolute;
  left:59px;
  top:66px;
  width:89px;
  height:30px;
  text-align:center;
}
#u32033 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u32034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32034 {
  position:absolute;
  left:148px;
  top:66px;
  width:82px;
  height:30px;
  text-align:center;
}
#u32035 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u32036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32036 {
  position:absolute;
  left:230px;
  top:66px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32037 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u32038 {
  position:absolute;
  left:320px;
  top:66px;
  width:76px;
  height:30px;
  text-align:center;
}
#u32039 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u32040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32040 {
  position:absolute;
  left:396px;
  top:66px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32041 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u32042 {
  position:absolute;
  left:486px;
  top:66px;
  width:78px;
  height:30px;
  text-align:center;
}
#u32043 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32044 {
  position:absolute;
  left:564px;
  top:66px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32045 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u32046 {
  position:absolute;
  left:654px;
  top:66px;
  width:118px;
  height:30px;
  text-align:center;
}
#u32047 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32048 {
  position:absolute;
  left:772px;
  top:66px;
  width:140px;
  height:30px;
  text-align:center;
}
#u32049 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u32050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u32050 {
  position:absolute;
  left:912px;
  top:66px;
  width:192px;
  height:30px;
  text-align:center;
}
#u32051 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u32052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u32052 {
  position:absolute;
  left:0px;
  top:96px;
  width:59px;
  height:30px;
  text-align:center;
}
#u32053 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u32054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32054 {
  position:absolute;
  left:59px;
  top:96px;
  width:89px;
  height:30px;
  text-align:center;
}
#u32055 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u32056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32056 {
  position:absolute;
  left:148px;
  top:96px;
  width:82px;
  height:30px;
  text-align:center;
}
#u32057 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u32058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32058 {
  position:absolute;
  left:230px;
  top:96px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32059 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u32060 {
  position:absolute;
  left:320px;
  top:96px;
  width:76px;
  height:30px;
  text-align:center;
}
#u32061 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u32062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32062 {
  position:absolute;
  left:396px;
  top:96px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32063 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u32064 {
  position:absolute;
  left:486px;
  top:96px;
  width:78px;
  height:30px;
  text-align:center;
}
#u32065 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32066 {
  position:absolute;
  left:564px;
  top:96px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32067 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u32068 {
  position:absolute;
  left:654px;
  top:96px;
  width:118px;
  height:30px;
  text-align:center;
}
#u32069 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32070 {
  position:absolute;
  left:772px;
  top:96px;
  width:140px;
  height:30px;
  text-align:center;
}
#u32071 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u32072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u32072 {
  position:absolute;
  left:912px;
  top:96px;
  width:192px;
  height:30px;
  text-align:center;
}
#u32073 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u32074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u32074 {
  position:absolute;
  left:0px;
  top:126px;
  width:59px;
  height:30px;
  text-align:center;
}
#u32075 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u32076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32076 {
  position:absolute;
  left:59px;
  top:126px;
  width:89px;
  height:30px;
  text-align:center;
}
#u32077 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u32078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32078 {
  position:absolute;
  left:148px;
  top:126px;
  width:82px;
  height:30px;
  text-align:center;
}
#u32079 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u32080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32080 {
  position:absolute;
  left:230px;
  top:126px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32081 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u32082 {
  position:absolute;
  left:320px;
  top:126px;
  width:76px;
  height:30px;
  text-align:center;
}
#u32083 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u32084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32084 {
  position:absolute;
  left:396px;
  top:126px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32085 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u32086 {
  position:absolute;
  left:486px;
  top:126px;
  width:78px;
  height:30px;
  text-align:center;
}
#u32087 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32088 {
  position:absolute;
  left:564px;
  top:126px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32089 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u32090 {
  position:absolute;
  left:654px;
  top:126px;
  width:118px;
  height:30px;
  text-align:center;
}
#u32091 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32092 {
  position:absolute;
  left:772px;
  top:126px;
  width:140px;
  height:30px;
  text-align:center;
}
#u32093 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u32094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u32094 {
  position:absolute;
  left:912px;
  top:126px;
  width:192px;
  height:30px;
  text-align:center;
}
#u32095 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u32096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u32096 {
  position:absolute;
  left:0px;
  top:156px;
  width:59px;
  height:30px;
  text-align:center;
}
#u32097 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u32098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32098 {
  position:absolute;
  left:59px;
  top:156px;
  width:89px;
  height:30px;
  text-align:center;
}
#u32099 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u32100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32100 {
  position:absolute;
  left:148px;
  top:156px;
  width:82px;
  height:30px;
  text-align:center;
}
#u32101 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u32102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32102 {
  position:absolute;
  left:230px;
  top:156px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32103 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u32104 {
  position:absolute;
  left:320px;
  top:156px;
  width:76px;
  height:30px;
  text-align:center;
}
#u32105 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u32106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32106 {
  position:absolute;
  left:396px;
  top:156px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32107 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u32108 {
  position:absolute;
  left:486px;
  top:156px;
  width:78px;
  height:30px;
  text-align:center;
}
#u32109 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u32110 {
  position:absolute;
  left:564px;
  top:156px;
  width:90px;
  height:30px;
  text-align:center;
}
#u32111 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u32112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u32112 {
  position:absolute;
  left:654px;
  top:156px;
  width:118px;
  height:30px;
  text-align:center;
}
#u32113 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u32114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u32114 {
  position:absolute;
  left:772px;
  top:156px;
  width:140px;
  height:30px;
  text-align:center;
}
#u32115 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u32116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u32116 {
  position:absolute;
  left:912px;
  top:156px;
  width:192px;
  height:30px;
  text-align:center;
}
#u32117 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u32118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32118 {
  position:absolute;
  left:230px;
  top:136px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32120 {
  position:absolute;
  left:320px;
  top:182px;
  width:100px;
  height:25px;
}
#u32120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:2px;
}
#u32121 {
  position:absolute;
  left:197px;
  top:220px;
  width:1143px;
  height:1px;
}
#u32122 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32123 {
  position:absolute;
  left:470px;
  top:181px;
  width:100px;
  height:25px;
}
#u32123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32124 {
  position:absolute;
  left:396px;
  top:137px;
  width:15px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32125 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u32126 {
  position:absolute;
  left:293px;
  top:132px;
  width:87px;
  height:25px;
}
#u32126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32127 {
  position:absolute;
  left:428px;
  top:132px;
  width:87px;
  height:25px;
}
#u32127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32128 {
  position:absolute;
  left:197px;
  top:92px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u32130 {
  position:absolute;
  left:252px;
  top:498px;
  width:55px;
  height:22px;
  color:#CC0099;
}
#u32131 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
