body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37668 {
  position:absolute;
  left:192px;
  top:180px;
  width:728px;
  height:310px;
}
#u37669 {
  position:absolute;
  left:2px;
  top:147px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u37670 {
  position:absolute;
  left:192px;
  top:215px;
  width:728px;
  height:1px;
}
#u37671 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37672 {
  position:absolute;
  left:200px;
  top:194px;
  width:53px;
  height:16px;
}
#u37673 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u37674 {
  position:absolute;
  left:880px;
  top:182px;
  width:35px;
  height:28px;
}
#u37675 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37676 {
  position:absolute;
  left:222px;
  top:275px;
  width:80px;
  height:25px;
}
#u37676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37677 {
  position:absolute;
  left:312px;
  top:275px;
  width:358px;
  height:25px;
}
#u37677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u37678 {
  position:absolute;
  left:222px;
  top:323px;
  width:80px;
  height:25px;
}
#u37678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u37679 {
  position:absolute;
  left:322px;
  top:326px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u37680 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u37681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37681 {
  position:absolute;
  left:960px;
  top:290px;
  width:273px;
  height:48px;
  color:#CC0099;
}
#u37682 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u37683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37684 {
  position:absolute;
  left:780px;
  top:280px;
  width:100px;
  height:16px;
}
#u37685 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37684_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37686 {
  position:absolute;
  left:830px;
  top:280px;
  width:100px;
  height:16px;
}
#u37687 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37688 {
  position:absolute;
  left:689px;
  top:280px;
  width:92px;
  height:16px;
}
#u37689 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u37690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37690 {
  position:absolute;
  left:936px;
  top:240px;
  width:118px;
  height:16px;
  color:#CC0099;
}
#u37691 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u37692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37692 {
  position:absolute;
  left:192px;
  top:554px;
  width:528px;
  height:16px;
  color:#CC0099;
}
#u37693 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37694 {
  position:absolute;
  left:192px;
  top:524px;
  width:814px;
  height:144px;
  color:#CC0099;
}
#u37695 {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  white-space:nowrap;
}
#u37696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37696 {
  position:absolute;
  left:236px;
  top:237px;
  width:71px;
  height:16px;
}
#u37697 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u37698 {
  position:absolute;
  left:312px;
  top:234px;
  width:200px;
  height:22px;
}
#u37698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37698_input:disabled {
  color:grayText;
}
#u37699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37699 {
  position:absolute;
  left:536px;
  top:234px;
  width:326px;
  height:16px;
  color:#CC0099;
}
#u37700 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
#u37701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37701 {
  position:absolute;
  left:1256px;
  top:90px;
  width:728px;
  height:470px;
}
#u37702 {
  position:absolute;
  left:2px;
  top:227px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u37703 {
  position:absolute;
  left:1256px;
  top:125px;
  width:728px;
  height:1px;
}
#u37704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37705 {
  position:absolute;
  left:1264px;
  top:104px;
  width:53px;
  height:16px;
}
#u37706 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u37707 {
  position:absolute;
  left:1944px;
  top:92px;
  width:35px;
  height:28px;
}
#u37708 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37709 {
  position:absolute;
  left:1274px;
  top:150px;
  width:486px;
  height:16px;
}
#u37710 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  white-space:nowrap;
}
#u37711 {
  position:absolute;
  left:1274px;
  top:222px;
  width:704px;
  height:215px;
}
#u37712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37712 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37713 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u37714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37714 {
  position:absolute;
  left:121px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37715 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u37716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37716 {
  position:absolute;
  left:210px;
  top:0px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37717 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u37718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37718 {
  position:absolute;
  left:352px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37719 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u37720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37720 {
  position:absolute;
  left:467px;
  top:0px;
  width:232px;
  height:30px;
  text-align:center;
}
#u37721 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u37722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37722 {
  position:absolute;
  left:0px;
  top:30px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37723 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37724 {
  position:absolute;
  left:121px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37725 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37726 {
  position:absolute;
  left:210px;
  top:30px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37727 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37728 {
  position:absolute;
  left:352px;
  top:30px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37729 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37730 {
  position:absolute;
  left:467px;
  top:30px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u37731 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u37732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37732 {
  position:absolute;
  left:0px;
  top:60px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37733 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37734 {
  position:absolute;
  left:121px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37735 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37736 {
  position:absolute;
  left:210px;
  top:60px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37737 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37738 {
  position:absolute;
  left:352px;
  top:60px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37739 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37740 {
  position:absolute;
  left:467px;
  top:60px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u37741 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u37742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37742 {
  position:absolute;
  left:0px;
  top:90px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37743 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37744 {
  position:absolute;
  left:121px;
  top:90px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37745 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37746 {
  position:absolute;
  left:210px;
  top:90px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37747 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37748 {
  position:absolute;
  left:352px;
  top:90px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37749 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37750 {
  position:absolute;
  left:467px;
  top:90px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u37751 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u37752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37752 {
  position:absolute;
  left:0px;
  top:120px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37753 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37754 {
  position:absolute;
  left:121px;
  top:120px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37755 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37756 {
  position:absolute;
  left:210px;
  top:120px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37757 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37758 {
  position:absolute;
  left:352px;
  top:120px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37759 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37760 {
  position:absolute;
  left:467px;
  top:120px;
  width:232px;
  height:30px;
  text-align:center;
}
#u37761 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u37762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37762 {
  position:absolute;
  left:0px;
  top:150px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37763 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37764 {
  position:absolute;
  left:121px;
  top:150px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37765 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37766 {
  position:absolute;
  left:210px;
  top:150px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37767 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37768 {
  position:absolute;
  left:352px;
  top:150px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37769 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37770 {
  position:absolute;
  left:467px;
  top:150px;
  width:232px;
  height:30px;
  text-align:center;
}
#u37771 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u37772 {
  position:absolute;
  left:0px;
  top:180px;
  width:121px;
  height:30px;
  text-align:center;
}
#u37773 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u37774 {
  position:absolute;
  left:121px;
  top:180px;
  width:89px;
  height:30px;
  text-align:center;
}
#u37775 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u37776 {
  position:absolute;
  left:210px;
  top:180px;
  width:142px;
  height:30px;
  text-align:center;
}
#u37777 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u37778 {
  position:absolute;
  left:352px;
  top:180px;
  width:115px;
  height:30px;
  text-align:center;
}
#u37779 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u37780 {
  position:absolute;
  left:467px;
  top:180px;
  width:232px;
  height:30px;
  text-align:center;
}
#u37781 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u37782 {
  position:absolute;
  left:1274px;
  top:190px;
  width:286px;
  height:16px;
  color:#0099FF;
}
#u37783 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u37784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37784 {
  position:absolute;
  left:2004px;
  top:190px;
  width:456px;
  height:16px;
  color:#CC0099;
}
#u37785 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u37786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37786 {
  position:absolute;
  left:1994px;
  top:150px;
  width:210px;
  height:16px;
  color:#CC0099;
}
#u37787 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u37788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u37788 {
  position:absolute;
  left:1245px;
  top:40px;
  width:145px;
  height:28px;
  color:#CC0099;
}
#u37789 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
