body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38670 {
  position:absolute;
  left:216px;
  top:92px;
  width:69px;
  height:16px;
}
#u38671 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u38672 {
  position:absolute;
  left:292px;
  top:90px;
  width:94px;
  height:22px;
}
#u38672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38672_input:disabled {
  color:grayText;
}
#u38673 {
  position:absolute;
  left:499px;
  top:88px;
  width:121px;
  height:25px;
}
#u38673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38674 {
  position:absolute;
  left:430px;
  top:92px;
  width:69px;
  height:16px;
}
#u38675 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u38676 {
  position:absolute;
  left:719px;
  top:88px;
  width:171px;
  height:25px;
}
#u38676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38677 {
  position:absolute;
  left:650px;
  top:92px;
  width:69px;
  height:16px;
}
#u38678 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u38679 {
  position:absolute;
  left:930px;
  top:88px;
  width:80px;
  height:25px;
}
#u38679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38680 {
  position:absolute;
  left:216px;
  top:150px;
  width:761px;
  height:95px;
}
#u38681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38681 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38682 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38683 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38684 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:30px;
}
#u38685 {
  position:absolute;
  left:200px;
  top:0px;
  width:483px;
  height:30px;
  text-align:center;
}
#u38686 {
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u38687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u38687 {
  position:absolute;
  left:683px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u38688 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38689 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38690 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38691 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38692 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:30px;
}
#u38693 {
  position:absolute;
  left:200px;
  top:30px;
  width:483px;
  height:30px;
  text-align:center;
}
#u38694 {
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u38695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u38695 {
  position:absolute;
  left:683px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u38696 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38697 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38698 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38699 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38700 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:30px;
}
#u38701 {
  position:absolute;
  left:200px;
  top:60px;
  width:483px;
  height:30px;
  text-align:center;
}
#u38702 {
  position:absolute;
  left:2px;
  top:7px;
  width:479px;
  word-wrap:break-word;
}
#u38703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u38703 {
  position:absolute;
  left:683px;
  top:60px;
  width:73px;
  height:30px;
  text-align:center;
}
#u38704 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38705 {
  position:absolute;
  left:920px;
  top:187px;
  width:20px;
  height:16px;
}
#u38706 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38705_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38707 {
  position:absolute;
  left:920px;
  top:160px;
  width:30px;
  height:16px;
}
#u38708 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38707_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38709 {
  position:absolute;
  left:920px;
  top:218px;
  width:20px;
  height:16px;
}
#u38710 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38709_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38711 {
  position:absolute;
  left:216px;
  top:491px;
  width:53px;
  height:16px;
}
#u38712 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38713 {
  position:absolute;
  left:269px;
  top:488px;
  width:37px;
  height:22px;
}
#u38713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38713_input:disabled {
  color:grayText;
}
#u38714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38714 {
  position:absolute;
  left:306px;
  top:491px;
  width:84px;
  height:16px;
}
#u38715 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:26px;
}
#u38716 {
  position:absolute;
  left:728px;
  top:484px;
  width:282px;
  height:26px;
}
#u38717 {
  position:absolute;
  left:2px;
  top:5px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u38718 {
  position:absolute;
  left:1000px;
  top:164px;
  width:200px;
  height:216px;
  color:#CC0099;
}
#u38719 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
