body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22897 {
  position:absolute;
  left:45px;
  top:74px;
  width:657px;
  height:249px;
}
#u22897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:249px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22898 {
  position:absolute;
  left:145px;
  top:113px;
  width:214px;
  height:25px;
}
#u22898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u22899 {
  position:absolute;
  left:507px;
  top:113px;
  width:59px;
  height:25px;
}
#u22899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u22900 {
  position:absolute;
  left:367px;
  top:118px;
  width:118px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u22901 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u22902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22902 {
  position:absolute;
  left:81px;
  top:354px;
  width:405px;
  height:48px;
  color:#CC0099;
}
#u22903 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u22904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22904 {
  position:absolute;
  left:81px;
  top:30px;
  width:15px;
  height:16px;
}
#u22905 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u22906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22906 {
  position:absolute;
  left:45px;
  top:41px;
  width:99px;
  height:16px;
}
#u22907 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:2px;
}
#u22908 {
  position:absolute;
  left:45px;
  top:63px;
  width:664px;
  height:1px;
}
#u22909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u22910 {
  position:absolute;
  left:680px;
  top:35px;
  width:35px;
  height:28px;
}
#u22911 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22912 {
  position:absolute;
  left:931px;
  top:65px;
  width:728px;
  height:470px;
}
#u22913 {
  position:absolute;
  left:2px;
  top:227px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u22914 {
  position:absolute;
  left:931px;
  top:100px;
  width:728px;
  height:1px;
}
#u22915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22916 {
  position:absolute;
  left:939px;
  top:79px;
  width:53px;
  height:16px;
}
#u22917 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u22918 {
  position:absolute;
  left:1619px;
  top:67px;
  width:35px;
  height:28px;
}
#u22919 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22920 {
  position:absolute;
  left:949px;
  top:125px;
  width:472px;
  height:16px;
}
#u22921 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  white-space:nowrap;
}
#u22922 {
  position:absolute;
  left:949px;
  top:197px;
  width:704px;
  height:215px;
}
#u22923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22923 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22924 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u22925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22925 {
  position:absolute;
  left:171px;
  top:0px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22926 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u22927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22927 {
  position:absolute;
  left:292px;
  top:0px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22928 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u22929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22929 {
  position:absolute;
  left:414px;
  top:0px;
  width:285px;
  height:30px;
  text-align:center;
}
#u22930 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u22931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22931 {
  position:absolute;
  left:0px;
  top:30px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22932 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22933 {
  position:absolute;
  left:171px;
  top:30px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22934 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22935 {
  position:absolute;
  left:292px;
  top:30px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22936 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22937 {
  position:absolute;
  left:414px;
  top:30px;
  width:285px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u22938 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u22939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22939 {
  position:absolute;
  left:0px;
  top:60px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22940 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22941 {
  position:absolute;
  left:171px;
  top:60px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22942 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22943 {
  position:absolute;
  left:292px;
  top:60px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22944 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22945 {
  position:absolute;
  left:414px;
  top:60px;
  width:285px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u22946 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22947 {
  position:absolute;
  left:0px;
  top:90px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22948 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22949 {
  position:absolute;
  left:171px;
  top:90px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22950 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22951 {
  position:absolute;
  left:292px;
  top:90px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22952 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22953 {
  position:absolute;
  left:414px;
  top:90px;
  width:285px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u22954 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22955 {
  position:absolute;
  left:0px;
  top:120px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22956 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22957 {
  position:absolute;
  left:171px;
  top:120px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22958 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22959 {
  position:absolute;
  left:292px;
  top:120px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22960 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22961 {
  position:absolute;
  left:414px;
  top:120px;
  width:285px;
  height:30px;
  text-align:center;
}
#u22962 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22963 {
  position:absolute;
  left:0px;
  top:150px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22964 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22965 {
  position:absolute;
  left:171px;
  top:150px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22966 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22967 {
  position:absolute;
  left:292px;
  top:150px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22968 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22969 {
  position:absolute;
  left:414px;
  top:150px;
  width:285px;
  height:30px;
  text-align:center;
}
#u22970 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u22971 {
  position:absolute;
  left:0px;
  top:180px;
  width:171px;
  height:30px;
  text-align:center;
}
#u22972 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22973 {
  position:absolute;
  left:171px;
  top:180px;
  width:121px;
  height:30px;
  text-align:center;
}
#u22974 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u22975 {
  position:absolute;
  left:292px;
  top:180px;
  width:122px;
  height:30px;
  text-align:center;
}
#u22976 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u22977 {
  position:absolute;
  left:414px;
  top:180px;
  width:285px;
  height:30px;
  text-align:center;
}
#u22978 {
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u22979 {
  position:absolute;
  left:949px;
  top:165px;
  width:286px;
  height:16px;
  color:#0099FF;
}
#u22980 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u22981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22981 {
  position:absolute;
  left:1679px;
  top:165px;
  width:274px;
  height:16px;
  color:#CC0099;
}
#u22982 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u22983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22983 {
  position:absolute;
  left:1669px;
  top:125px;
  width:210px;
  height:16px;
  color:#CC0099;
}
#u22984 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u22985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22985 {
  position:absolute;
  left:931px;
  top:6px;
  width:161px;
  height:37px;
}
#u22986 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u22987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22987 {
  position:absolute;
  left:81px;
  top:450px;
  width:323px;
  height:16px;
  color:#CC0099;
}
#u22988 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u22989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22989 {
  position:absolute;
  left:81px;
  top:529px;
  width:619px;
  height:32px;
  color:#CC0099;
}
#u22990 {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  white-space:nowrap;
}
