body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22991 {
  position:absolute;
  left:181px;
  top:113px;
  width:1589px;
  height:97px;
}
#u22992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u22992 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22993 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u22994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
}
#u22994 {
  position:absolute;
  left:108px;
  top:0px;
  width:224px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22995 {
  position:absolute;
  left:2px;
  top:8px;
  width:220px;
  word-wrap:break-word;
}
#u22996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u22996 {
  position:absolute;
  left:332px;
  top:0px;
  width:93px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22997 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u22998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u22998 {
  position:absolute;
  left:425px;
  top:0px;
  width:146px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22999 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u23000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u23000 {
  position:absolute;
  left:571px;
  top:0px;
  width:112px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23001 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u23002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u23002 {
  position:absolute;
  left:683px;
  top:0px;
  width:94px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23003 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u23004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
}
#u23004 {
  position:absolute;
  left:777px;
  top:0px;
  width:187px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23005 {
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u23006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u23006 {
  position:absolute;
  left:964px;
  top:0px;
  width:105px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23007 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u23008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:32px;
}
#u23008 {
  position:absolute;
  left:1069px;
  top:0px;
  width:231px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23009 {
  position:absolute;
  left:2px;
  top:8px;
  width:227px;
  word-wrap:break-word;
}
#u23010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u23010 {
  position:absolute;
  left:1300px;
  top:0px;
  width:140px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23011 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u23012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u23012 {
  position:absolute;
  left:1440px;
  top:0px;
  width:144px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23013 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u23014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u23014 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:30px;
  color:#0033CC;
}
#u23015 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u23016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u23016 {
  position:absolute;
  left:108px;
  top:32px;
  width:224px;
  height:30px;
}
#u23017 {
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u23018 {
  position:absolute;
  left:332px;
  top:32px;
  width:93px;
  height:30px;
}
#u23019 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u23020 {
  position:absolute;
  left:425px;
  top:32px;
  width:146px;
  height:30px;
}
#u23021 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u23022 {
  position:absolute;
  left:571px;
  top:32px;
  width:112px;
  height:30px;
}
#u23023 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u23024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u23024 {
  position:absolute;
  left:683px;
  top:32px;
  width:94px;
  height:30px;
}
#u23025 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23026 {
  position:absolute;
  left:777px;
  top:32px;
  width:187px;
  height:30px;
}
#u23027 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u23028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u23028 {
  position:absolute;
  left:964px;
  top:32px;
  width:105px;
  height:30px;
}
#u23029 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u23030 {
  position:absolute;
  left:1069px;
  top:32px;
  width:231px;
  height:30px;
  color:#0000FF;
}
#u23031 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u23032 {
  position:absolute;
  left:1300px;
  top:32px;
  width:140px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u23033 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u23034 {
  position:absolute;
  left:1440px;
  top:32px;
  width:144px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
}
#u23035 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u23036 {
  position:absolute;
  left:0px;
  top:62px;
  width:108px;
  height:30px;
}
#u23037 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u23038 {
  position:absolute;
  left:108px;
  top:62px;
  width:224px;
  height:30px;
}
#u23039 {
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u23040 {
  position:absolute;
  left:332px;
  top:62px;
  width:93px;
  height:30px;
}
#u23041 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u23042 {
  position:absolute;
  left:425px;
  top:62px;
  width:146px;
  height:30px;
}
#u23043 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u23044 {
  position:absolute;
  left:571px;
  top:62px;
  width:112px;
  height:30px;
}
#u23045 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u23046 {
  position:absolute;
  left:683px;
  top:62px;
  width:94px;
  height:30px;
}
#u23047 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23048 {
  position:absolute;
  left:777px;
  top:62px;
  width:187px;
  height:30px;
}
#u23049 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u23050 {
  position:absolute;
  left:964px;
  top:62px;
  width:105px;
  height:30px;
}
#u23051 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u23052 {
  position:absolute;
  left:1069px;
  top:62px;
  width:231px;
  height:30px;
}
#u23053 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u23054 {
  position:absolute;
  left:1300px;
  top:62px;
  width:140px;
  height:30px;
}
#u23055 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u23056 {
  position:absolute;
  left:1440px;
  top:62px;
  width:144px;
  height:30px;
}
#u23057 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23058 {
  position:absolute;
  left:753px;
  top:114px;
  width:110px;
  height:30px;
}
#u23058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23058_input:disabled {
  color:grayText;
}
#u23059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:2px;
}
#u23059 {
  position:absolute;
  left:181px;
  top:102px;
  width:1175px;
  height:1px;
}
#u23060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23062 {
  position:absolute;
  left:895px;
  top:596px;
  width:340px;
  height:16px;
}
#u23063 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u23064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23064 {
  position:absolute;
  left:345px;
  top:596px;
  width:272px;
  height:16px;
}
#u23065 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u23066 {
  position:absolute;
  left:405px;
  top:596px;
  width:40px;
  height:16px;
}
#u23066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23066_input:disabled {
  color:grayText;
}
#u23068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u23068 {
  position:absolute;
  left:39px;
  top:21px;
  width:178px;
  height:33px;
  font-size:28px;
}
#u23069 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u23070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:2px;
}
#u23070 {
  position:absolute;
  left:10px;
  top:64px;
  width:1490px;
  height:1px;
}
#u23071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:890px;
}
#u23072 {
  position:absolute;
  left:166px;
  top:65px;
  width:1px;
  height:889px;
}
#u23073 {
  position:absolute;
  left:2px;
  top:436px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23074 {
  position:absolute;
  left:1268px;
  top:30px;
  width:52px;
  height:15px;
  font-size:12px;
}
#u23075 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u23076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u23076 {
  position:absolute;
  left:1348px;
  top:30px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#0000FF;
}
#u23077 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23078 {
  position:absolute;
  left:9px;
  top:81px;
  width:144px;
  height:525px;
}
#u23078_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23079 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23080 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u23081 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u23082 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23083 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23083_img.selected {
}
#u23083.selected {
}
#u23084 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23085 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23086 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23082_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23087 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23088 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u23089 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u23090 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23091 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u23092 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u23093 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23094 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u23095 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u23096 {
  position:absolute;
  left:20px;
  top:80px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23097 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u23098 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u23099 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23100 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23100_img.selected {
}
#u23100.selected {
}
#u23101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23102 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23103 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23099_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23104 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23105 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23106 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23107 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23108 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23109 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23110 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23111 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23111_img.selected {
}
#u23111.selected {
}
#u23112 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23113 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23114 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23110_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23115 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23116 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23117 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23118 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23119 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23120 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23121 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23122 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23122_img.selected {
}
#u23122.selected {
}
#u23123 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23124 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23125 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23121_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23126 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23127 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u23128 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u23129 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23130 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u23131 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u23132 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23133 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23133_img.selected {
}
#u23133.selected {
}
#u23134 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23135 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23136 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23132_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23137 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23138 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23139 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23140 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23141 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23142 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23143 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23144 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23145 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23146 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23147 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23148 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23149 {
  position:absolute;
  left:20px;
  top:100px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23150 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23151 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23152 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23153 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23154 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23155 {
  position:absolute;
  left:0px;
  top:440px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23156 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u23156_img.selected {
}
#u23156.selected {
}
#u23157 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23158 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23159 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23155_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23160 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23161 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23162 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23163 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23164 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u23165 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u23166 {
  position:absolute;
  left:20px;
  top:60px;
  width:119px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23167 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u23168 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u23169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23169 {
  position:absolute;
  left:567px;
  top:13px;
  width:538px;
  height:51px;
}
#u23170 {
  position:absolute;
  left:2px;
  top:18px;
  width:534px;
  visibility:hidden;
  white-space:nowrap;
}
#u23171 {
  position:absolute;
  left:569px;
  top:13px;
  width:200px;
  height:25px;
}
#u23171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23172 {
  position:absolute;
  left:777px;
  top:11px;
  width:51px;
  height:32px;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u23174 {
  position:absolute;
  left:567px;
  top:39px;
  width:60px;
  height:25px;
}
#u23174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23175 {
  position:absolute;
  left:657px;
  top:39px;
  width:60px;
  height:25px;
}
#u23175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23176 {
  position:absolute;
  left:747px;
  top:39px;
  width:60px;
  height:25px;
}
#u23176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23177 {
  position:absolute;
  left:837px;
  top:39px;
  width:60px;
  height:25px;
}
#u23177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23178 {
  position:absolute;
  left:937px;
  top:39px;
  width:60px;
  height:25px;
}
#u23178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23179 {
  position:absolute;
  left:1027px;
  top:39px;
  width:60px;
  height:25px;
}
#u23179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23180 {
  position:absolute;
  left:877px;
  top:19px;
  width:60px;
  height:16px;
  color:#000000;
}
#u23181 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23182 {
  position:absolute;
  left:967px;
  top:19px;
  width:70px;
  height:16px;
  color:#000000;
}
#u23183 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u23182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23184 {
  position:absolute;
  left:1057px;
  top:19px;
  width:48px;
  height:16px;
  color:#000000;
}
#u23185 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u23184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23186 {
  position:absolute;
  left:1117px;
  top:32px;
  width:141px;
  height:22px;
}
#u23186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23186_input:disabled {
  color:grayText;
}
#u23187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00CC;
}
#u23187 {
  position:absolute;
  left:1115px;
  top:14px;
  width:684px;
  height:16px;
  color:#FF00CC;
}
#u23188 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u23189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u23189 {
  position:absolute;
  left:1391px;
  top:30px;
  width:392px;
  height:48px;
  color:#CC0099;
}
#u23190 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u23191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u23191 {
  position:absolute;
  left:217px;
  top:38px;
  width:296px;
  height:16px;
  font-size:14px;
  color:#CC0099;
}
#u23192 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u23193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u23193 {
  position:absolute;
  left:606px;
  top:11px;
  width:141px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0099;
}
#u23194 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u23195 {
  position:absolute;
  left:1200px;
  top:71px;
  width:79px;
  height:25px;
}
#u23195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23196 {
  position:absolute;
  left:181px;
  top:74px;
  width:79px;
  height:16px;
}
#u23197 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23198 {
  position:absolute;
  left:266px;
  top:70px;
  width:200px;
  height:25px;
}
#u23198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23199 {
  position:absolute;
  left:1067px;
  top:71px;
  width:79px;
  height:25px;
}
#u23199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
