body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35292 {
  position:absolute;
  left:192px;
  top:180px;
  width:728px;
  height:310px;
}
#u35293 {
  position:absolute;
  left:2px;
  top:147px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u35294 {
  position:absolute;
  left:192px;
  top:215px;
  width:728px;
  height:1px;
}
#u35295 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35296 {
  position:absolute;
  left:200px;
  top:194px;
  width:53px;
  height:16px;
}
#u35297 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u35298 {
  position:absolute;
  left:880px;
  top:182px;
  width:35px;
  height:28px;
}
#u35299 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35300 {
  position:absolute;
  left:221px;
  top:275px;
  width:80px;
  height:25px;
}
#u35300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35301 {
  position:absolute;
  left:311px;
  top:275px;
  width:358px;
  height:25px;
}
#u35301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u35302 {
  position:absolute;
  left:689px;
  top:275px;
  width:80px;
  height:25px;
}
#u35302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u35303 {
  position:absolute;
  left:811px;
  top:280px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u35304 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35305 {
  position:absolute;
  left:221px;
  top:544px;
  width:900px;
  height:272px;
  color:#CC0099;
}
#u35306 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u35307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35307 {
  position:absolute;
  left:988px;
  top:334px;
  width:259px;
  height:16px;
  color:#CC0099;
}
#u35308 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u35309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35309 {
  position:absolute;
  left:225px;
  top:237px;
  width:71px;
  height:16px;
}
#u35310 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u35311 {
  position:absolute;
  left:301px;
  top:234px;
  width:200px;
  height:22px;
}
#u35311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35311_input:disabled {
  color:grayText;
}
#u35312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35312 {
  position:absolute;
  left:525px;
  top:234px;
  width:274px;
  height:16px;
  color:#CC0099;
}
#u35313 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u35314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35314 {
  position:absolute;
  left:1256px;
  top:90px;
  width:728px;
  height:470px;
}
#u35315 {
  position:absolute;
  left:2px;
  top:227px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:2px;
}
#u35316 {
  position:absolute;
  left:1256px;
  top:125px;
  width:728px;
  height:1px;
}
#u35317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35318 {
  position:absolute;
  left:1264px;
  top:104px;
  width:53px;
  height:16px;
}
#u35319 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u35320 {
  position:absolute;
  left:1944px;
  top:92px;
  width:35px;
  height:28px;
}
#u35321 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35322 {
  position:absolute;
  left:1274px;
  top:150px;
  width:486px;
  height:16px;
}
#u35323 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  white-space:nowrap;
}
#u35324 {
  position:absolute;
  left:1274px;
  top:222px;
  width:704px;
  height:215px;
}
#u35325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35325 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35326 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u35327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35327 {
  position:absolute;
  left:121px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35328 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u35329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35329 {
  position:absolute;
  left:210px;
  top:0px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35330 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u35331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35331 {
  position:absolute;
  left:352px;
  top:0px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35332 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u35333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35333 {
  position:absolute;
  left:467px;
  top:0px;
  width:232px;
  height:30px;
  text-align:center;
}
#u35334 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u35335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35335 {
  position:absolute;
  left:0px;
  top:30px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35336 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35337 {
  position:absolute;
  left:121px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35338 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35339 {
  position:absolute;
  left:210px;
  top:30px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35340 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35341 {
  position:absolute;
  left:352px;
  top:30px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35342 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35343 {
  position:absolute;
  left:467px;
  top:30px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u35344 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u35345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35345 {
  position:absolute;
  left:0px;
  top:60px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35346 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35347 {
  position:absolute;
  left:121px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35348 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35349 {
  position:absolute;
  left:210px;
  top:60px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35350 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35351 {
  position:absolute;
  left:352px;
  top:60px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35352 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35353 {
  position:absolute;
  left:467px;
  top:60px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u35354 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u35355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35355 {
  position:absolute;
  left:0px;
  top:90px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35356 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35357 {
  position:absolute;
  left:121px;
  top:90px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35358 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35359 {
  position:absolute;
  left:210px;
  top:90px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35360 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35361 {
  position:absolute;
  left:352px;
  top:90px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35362 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35363 {
  position:absolute;
  left:467px;
  top:90px;
  width:232px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u35364 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u35365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35365 {
  position:absolute;
  left:0px;
  top:120px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35366 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35367 {
  position:absolute;
  left:121px;
  top:120px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35368 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35369 {
  position:absolute;
  left:210px;
  top:120px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35370 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35371 {
  position:absolute;
  left:352px;
  top:120px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35372 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35373 {
  position:absolute;
  left:467px;
  top:120px;
  width:232px;
  height:30px;
  text-align:center;
}
#u35374 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35375 {
  position:absolute;
  left:0px;
  top:150px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35376 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35377 {
  position:absolute;
  left:121px;
  top:150px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35378 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35379 {
  position:absolute;
  left:210px;
  top:150px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35380 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35381 {
  position:absolute;
  left:352px;
  top:150px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35382 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35383 {
  position:absolute;
  left:467px;
  top:150px;
  width:232px;
  height:30px;
  text-align:center;
}
#u35384 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u35385 {
  position:absolute;
  left:0px;
  top:180px;
  width:121px;
  height:30px;
  text-align:center;
}
#u35386 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u35387 {
  position:absolute;
  left:121px;
  top:180px;
  width:89px;
  height:30px;
  text-align:center;
}
#u35388 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u35389 {
  position:absolute;
  left:210px;
  top:180px;
  width:142px;
  height:30px;
  text-align:center;
}
#u35390 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u35391 {
  position:absolute;
  left:352px;
  top:180px;
  width:115px;
  height:30px;
  text-align:center;
}
#u35392 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u35393 {
  position:absolute;
  left:467px;
  top:180px;
  width:232px;
  height:30px;
  text-align:center;
}
#u35394 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u35395 {
  position:absolute;
  left:1274px;
  top:190px;
  width:286px;
  height:16px;
  color:#0099FF;
}
#u35396 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u35397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35397 {
  position:absolute;
  left:2004px;
  top:190px;
  width:482px;
  height:16px;
  color:#CC0099;
}
#u35398 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u35399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35399 {
  position:absolute;
  left:1994px;
  top:150px;
  width:210px;
  height:16px;
  color:#CC0099;
}
#u35400 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u35401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u35401 {
  position:absolute;
  left:1245px;
  top:40px;
  width:145px;
  height:28px;
  color:#CC0099;
}
#u35402 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
