body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22292 {
  position:absolute;
  left:314px;
  top:155px;
  width:140px;
  height:165px;
}
#u22292_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22293 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u22294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u22294 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  color:#333333;
}
#u22294_img.selected {
}
#u22294.selected {
}
#u22295 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22296 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22297 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u22293_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22298 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u22299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22299 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22300 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22301 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u22302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22302 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22303 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22304 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u22305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u22305 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u22305_img.selected {
}
#u22305.selected {
}
#u22306 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22307 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22308 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u22304_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22309 {
  position:absolute;
  left:20px;
  top:20px;
  width:93px;
  height:20px;
}
#u22310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22310 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22311 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22312 {
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
}
#u22313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22313 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22314 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22315 {
  position:absolute;
  left:20px;
  top:120px;
  width:93px;
  height:20px;
}
#u22316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22316 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22317 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22318 {
  position:absolute;
  left:20px;
  top:140px;
  width:93px;
  height:20px;
}
#u22319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22319 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u22320 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u22321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22321 {
  position:absolute;
  left:182px;
  top:58px;
  width:155px;
  height:16px;
  color:#CC0099;
}
#u22322 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u22323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0099;
}
#u22323 {
  position:absolute;
  left:584px;
  top:244px;
  width:211px;
  height:16px;
  color:#CC0099;
}
#u22324 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
